[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pandas = "*"
gpt-2-simple = "*"
lxml = "*"
tika = "*"
ipywidgets = "*"
jupyterlab-widgets = "*"
pillow = "*"
matplotlib = "*"
tensorflow = "==1.15"
jupyter-http-over-ws = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.7"
